
/* Code highlighting */
code
	.comment
		color: #998
		font-style: italic
	.keyword
		color: #333
		font-weight: bold
	.number
		color: #099
	.string
		color: #d14
	.tag
		color: #000080
		font-weight: normal
	.attribute
		color: #008080
	.regexp
		color: #009926
	.preprocessor
		color: #999
		font-weight: bold
	.deletion
		background: #fdd
		display: block
	.addition
		background: #dfd
		display: block
