.contents
	float: right
	min-width: 200px
	background-color: #fff
	border: 1px solid #ddd
	box-shadow(0 .5em 1em 0 rgba(0,0,0,.10))
	margin: 1em
	padding: 2em 1em 1em 1em
	font-size: .8em
	ul
		margin: 0
		padding: 0
		li
			padding: 0
			margin: 0 0 1em 0
			list-style: none
			color: #333
			ul
				margin: 0
				padding: 0
				border-top: 1px solid #ddd
				li
					margin: 0
					padding: .5em 0 0 1em
					border: none
					color: #000
