.contents
	float: right
	max-width: 50%
	width: 300px
	background-color: #fff
	border-radius: 5px
	padding: 10px
	margin-left: 20px
	margin-buttom: 20px
	ul
		margin: 0
		padding: 0 0 0 10px
	li
		list-style: none
		padding: 3px 0
