@import 'variables.styl'
@import 'mixins.styl';
@import 'general.styl'
@import 'sidebar.styl';
@import 'logo.styl';
@import 'contents.styl';
@import 'code.styl';
@import 'anchor.styl';

.loading
	transition: opacity 1s linear, background 1s linear
	background: white
	opacity: 0

.wikieditlink
	font-weight: bold