@import 'nib';
@import 'variables.styl'
@import 'mixins.styl';
@import 'general.styl'
@import 'sidebar.styl';
@import 'logo.styl';

.intro
	margin: 30px 0 50px 0
	font-size: 1.5em
	text-align: center
	.types
		display: inline-block
		position: relative
		top: 51px
		padding: 0 5px
		margin: 0
		li
			list-style: none
			padding: 0
			margin: 0

.feature
	border: 2px solid #CCC
	background: #F5F5F5
	padding: 5px
	margin: 10px
