.sidebar
  background-color: #fff
  border-radius(5px)
  padding: 10px
  padding-left: 35px
  margin: 10px
  margin-left: -15px
  font-size: 0.8em
  h1
    font-size: 18pt;
  ul
    margin: 0
    padding: 0 0 0 10px
  li
    list-style: none
    padding: 3px 0
  .active
    font-weight: bold
    color: #333
