@import 'nib';
@import 'variables.styl'
@import 'mixins.styl';
@import 'sidebar.styl';
@import 'contents.styl';

body
  font-size: 16px
  background-color: #eee

.todo
  color: #ff69b4
  border: 1px solid #ff69b4

.intro
  margin: 30px 0 50px 0
  font-size: 1.5em
  text-align: center
  .types
    display: inline-block
    position: relative
    top: 51px
    padding: 0 5px
    margin: 0
    li
      list-style: none
      padding: 0
      margin: 0

.logo
  width: 100%
  height: 220px
  position: relative
  margin-left: -20px
  .name
    font-size: 2em
    position: absolute
    top: 200px
    left: 60px
    font-weight: bold
  .tagline
    font-size: 0.8em
    position: absolute
    top: 240px
    left: 100px
    width: 150px

.cube
  cube(100px, rgba(126,169,232,0.5))
  spin()
  margin: -50px 0 0 -50px
  top: 50%
  left: 50%

.cube-inner
  cube(50px, rgba(16,58,177,0.5))
  margin: -25px 0 0 -25px
  spin(fastspin)

.loading
  transition: opacity 1s linear, background 1s linear
  background: white
  opacity: 0

/* Code highlighting */
code
  .comment
    color: #998
    font-style: italic
  .keyword
    color: #333
    font-weight: bold
  .number
    color: #099
  .string
    color: #d14
  .tag
    color: #000080
    font-weight: normal
  .attribute
    color: #008080
  .regexp
    color: #009926
  .preprocessor
    color: #999
    font-weight: bold
  .deletion
    background: #fdd
    display: block
  .addition
    background: #dfd
    display: block

.anchor
  display: none

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover
  position: relative
  .anchor
    position: absolute
    top: 15%
    display: block
    font-size: 70%
    text-align: right
    padding-right: 3px
    margin-left: -30px
    width: 30px

iframe.tutorial-iframe
  width: 100%
  height: 200px
  border: 3px dashed #333

.feature
  border: 2px solid #CCC
  background: #F5F5F5
  padding: 5px
  margin: 10px