<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{title}}</title>
	</head>
	<body>
		<script src="js/doc.js" charset="utf-8" async></script>
		<div class="container">
			<div class="row">
				<div class="col-md-3">

					{{include logo}}

					<div class="sidebar">
						{{wiki contents}}
					</div>
				</div>

				<div class="col-md-9">

					<div class="pull-right">
						<a href="https://github.com/webpack/docs/wiki/{{url}}/_edit" id="wikieditlink">Edit</a>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="page-header">
								<h1 id="wikititle">{{title}}</h1>
							</div>
						</div>
					</div>

					<div class="row">
						<div id="wiki" class="col-md-12">
							{{wiki}}
						</div>
					</div>
				</div>

			</div>
		</div>
		<a href="https://github.com/webpack/webpack"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
	</body>
</html>