<div class="row">
	<div class="intro center-block">
		With <strong>webpack</strong>, <ul class="types">
			<li style="color:#999;font-size:0.6em;">JavaScript
			<li style="color:#666;font-size:0.8em;">CSS
			<li>everything
			<li style="color:#666;font-size:0.8em;">images
			<li style="color:#999;font-size:0.6em;">fonts
		</ul> is a module.<br/>
		<p>&nbsp;</p>
	</div>
	<p><a href="https://github.com/webpack/webpack" class="btn btn-primary pull-right" role="button">View on github &raquo;</a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
