<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" type="image/png" href="/assets/favicon.png" />
		<link rel="stylesheet" href="css/landing.css" />
		<title>webpack</title>
	</head>
	<body>
		<script src="js/landing.js" charset="utf-8" async></script>
		<div class="container">
			<div class="row">
				<div class="col-md-3 nav">

					{{include logo}}

					<div class="sidebar">
						<ul><li><a href="." class="active">Home</a></li></ul>
						{{wiki contents}}
					</div>
				</div>

				<div class="col-md-9">

					{{include header}}

					<div class="row">
						<div class="col-md-12">
							<h1>Welcome to the webpack documentation!</h1>

							<p>浏览内容，在左侧边栏.</p>

							<p>如果你是新来的WebPack，你可能要开始阅读本页面或左侧的入门部分.</p>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-md-6">
							<div class="feature">
								<h4>插件</h4>
								<p>WebPack具有丰富的 <a href="plugins.html">plugin</a> 接口. 大多数功能都使用此接口内部的插件. 这使得的WebPack非常 <strong>灵活</strong>.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature">
								<h4>演出</h4>
								<p>WebPack使用异步I / O和有多个高速缓存层级. 这使得WebPack非常快速且在增量编译上令人难以置信的 <strong>快</strong>。</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="feature">
								<h4>加载器</h4>
								<p>WebPack支持通过<a href="loaders.html">加载器</a>预处理文件。这使您可以捆绑<strong>任何静态的资源</strong>，不仅仅是JavaScript。您可以轻松地编写你自己的运行在node.js中的加载器。</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature">
								<h4>Support</h4>
								<p>
								WebPack支持<strong><a href="amd.html">AMD</a>和<a href="commonjs.html">CommonJs</a></strong>的模块风格。它对你的代码执行了聪明的静态分析。它甚至有一个评价引擎来计算简单的表达式。这使您能够<strong>支持大多数现有的库</strong>。</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="feature">
								<h4>代码拆分</h4>
								WebPack允许拆分你的代码库成块。块装载需求。这减少了初始加载时间。
								<p>webpack 允许 <a href="code-splitting.html">拆分</a> 你的代码库到 chunks 里. Chunks 是根据 <strong>需求</strong>进行加载的. 这降低了初始加载时间.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature">
								<h4>优化</h4>
								<p>webpack 可以做很多 <a href="optimization.html">优化</a> 以 <strong>降低输出尺寸</strong>. 它还关心通过哈希 <a href="long-term-caching.html">请求 <strong>缓存</strong></a> 。</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="feature">
								<h4>开发工具</h4>
								<p>webpack 支持 SourceUrls 和 <strong>SourceMaps</strong> 进行简单的调试. 为了<strong>自动重新加载</strong>他可以监视你的文件，并且带有一个 <a href="webpack-dev-middleware.html">开发中间件</a> 和一个 <a href="webpack-dev-server.html">开发服务器</a> 。</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature">
								<h4>多个目标</h4>
								<p>webpack 的主要目标是 <strong>web</strong>, 但他也支持 为<a href="https://github.com/webpack/worker-loader"><strong>WebWorkers</strong></a> 和 <strong>node.js</strong> 生成 bundles.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<a href="https://github.com/webpack/webpack"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
	</body>
</html>
